[run]
branch = True
source = numconv
parallel = True

[paths]
source =
    ./
    */.tox/*/site-packages/
    */.jenkins/*/workspace/
    */__pyclasspath__/

[report]
omit =
    */test/*
precision = 2
