[run]
branch = True
source = numconv
parallel = True

[paths]
source =
    ./
    */TOX_PYTHON/*/os/linux/
    */tox_python/*/os/windows/
    */jenkins/workspace/numconv/
    */.tox/*/site-packages/
    */.jenkins/*/workspace/
    */__pyclasspath__/

[report]
omit =
    */test/*
precision = 2
