[run]
branch = True
source = numconv
parallel = True

[paths]
source =
    ./
    *\workspace\numconv\tox_python\*\os\windows\
    */jobs/numconv/workspace/
    */workspace/numconv/

[report]
omit =
    */test/*
precision = 2
